.admin-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(180deg, #87CEEB 0%, #E0B0FF 100%);
    color: white;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1; 
    width: 0;  
    background-color: #f7fafc;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-body {
    flex: 1;               
    padding: 32px;
    overflow: hidden;    
    display: flex;
    flex-direction: column;
}

.sidebar-logo {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #646cff;
    border-bottom: 1px solid #2d3748;
}

.sidebar-nav {
    flex: 1;
    padding: 16px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  color: white; 
  gap: 10px;
}

.nav-item:hover{
  background: rgba(255, 255, 255, 0.2); 
  color: white;
}

.nav-item.active {
    color: #646cff;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 12px;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 16px;
    border-radius: 12px;
}

.user-info .user-name {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.user-info .user-role {
    margin: 0;
    font-size: 14px;
    color: #0c0c0c;
}

.sidebar-footer {
    padding: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.logout-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.logout-button:hover {
    background: rgba(255, 0, 0, 0.2); 
}